body{
    font-size:30px;
}
.flex-container{
    display:flex;
    background-color: darkblue;
    height:500px;
    border: 10px solid black;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.flex-item{
    display: flex;
    height:100px;
    width:100px;
    background-color:red;
    border: 2px solid darkred;
    padding:30px;
}